
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
// Load CSS Reset from NPM
// CSS resets "normalize" how browser styles are applied.
// Try commenting this out and saving. What changes in the browser?
@import "~normalize.css";

// An example of a partial.
// Check out the _typography.scss file to edit the CSS inside!
@import "typography";

// You can still write styles in this file too.
// Here's an example of how you could write media queries more easily with Sass.

$large-phone: 500px;
$tablet-vertical: 768px;
$desktop: 1200px;

// And some color variables.
// Look how much easier it is to keep track of what these are than hex codes!

$red: #ab424a;
$orange: #dd7c00;
$green: #3b975f;
$blue: #4261ab;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background-color: #fcf9ee;
}

.container {
	width: 80%;
	margin: auto;
	height: 100%;
	justify-content: center;
}

.bg {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

.bg::after {
	content: "";
	left: 0;
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.589);
}

.nbar {
	margin-top: 450px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
}

.text {
	text-decoration: none;
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	color: aliceblue;
	border: 60px;
}

.bg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container p {
	color: whitesmoke;
	font-size: 10px;
}

h1 {
	color: red;
}

@keyframes anima {
	0% {
		opacity: 0.6;
		transform: scale(1);
	}

	100% {
		opacity: 1;
		transform: scale(1.1);
	}
}
// Sass lets you write your media queries inline if you want.
// This is why I'm always forgetting I have to put the class inside
// the media query in regular CSS. I never have to in Sass!
// I like combining these with variables to make it easier to read
// my media queries.
@media screen and (min-width: $large-phone) {
	color: $orange;
}

@media screen and (min-width: $tablet-vertical) {
	color: $green;
}

@media screen and (min-width: $desktop) {
	color: $blue;
}
